
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    font-family: Proxima Nova, system-ui, sans-serif;
  }

 

}
.wrapper{
  @apply  flex flex-col  bg-slate-200 dark:bg-slate-800 rounded-lg   ;
}

.wrapper .section{
  @apply text-sm text-left px-7 pt-2   ;
}

.wrapper .section a{
  @apply  text-green-400 ;
}

.wrapper .section ul{
  @apply  list-disc  ;
}


.wrapper > h3{
  @apply  self-end inline-block bg-green-700 text-slate-100 rounded-b-lg text-xs px-5 py-1
}

.kotak{
  @apply w-full;
}

.grid-box{
  @apply  grid gap-5  grid-cols-1   lg:grid-cols-3 ;
}

.grid-col2{
  @apply  grid gap-5  grid-cols-1   lg:grid-cols-2 ;
}

.wrapper.row-span2{
  @apply row-span-2
}

.wrapper.col-span2{
  @apply col-span-2
}

.wrapper h4 {
 @apply  block bg-slate-700 text-center py-2
}


.kotak > h2{
  display: block;
  font-size: 23px;
  padding: 0px 12px;
  margin: 19px 0;
}
 .mdLayout{  color: #345;
    display: flex;
    flex-direction: column;
}


.leading-relaxed {
  line-height: 1.625em;
}
.tracking-wide {
  letter-spacing: 0.025em;
}

.leading-tight {
  line-height: 1.25em;
}
.font-extralight {
  font-weight: 200;
}

.max-container{
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding: 0.75rem;
}

.card {
  display: flex;
  cursor: pointer;
  align-items: center;
  border-radius: 0.5rem;
  padding: 1rem;
}

.card>p {
  margin-left: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1rem;
  line-height: 1.25rem;
}

.mdLayout {
  color: #345;
  display: flex;
  flex-direction: column;
}

#intro{
  color:red;
}